extends layout

block heading
  h2.center= title

block content
  br
  form.form-horizontal.col-md-5.col-md-offset-4(action="/auth/reset-password", method="post", role="form")
    p.error #{error}

    input(type="hidden", name="_csrf", value="#{csrf_token}")

    input.form-control(type="password", id="pass", placeholder="Enter your new password", name="password", required, autofocus)
    br
    button.btn.btn-success(type="submit") Reset and Log in
